.formContainer {
  display: flex;
  flex-direction: column;
  background: var(--mantine-color-dark-4);
  border: 1px solid var(--mantine-color-neutral-8);
  border-radius: 16px;
  min-width: 640px;
  min-height: 440px;
}
